/* src/components/ComicCard/ComicCard.css */
.comic-card {
    position: relative;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    width: 200px;
    text-align: center;
    padding-bottom: 30px;
}

.comic-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.comic-info {
    padding: 10px;
}

.comic-info h3 {
    margin: 0 0 10px 0;
    font-size: 1.1em;
}

.comic-info p {
    font-size: 0.9em;
    color: #666;
}

.wishlist-image {
    position: absolute;
    bottom: 10px; 
    transform: translateX(-50%);
    cursor: pointer;
    max-width: 8%;
    min-height: 4%;
    object-fit: fill;
}
