.login {
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    padding-top: 20px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    border-radius: 10px;
    min-width: 380px; 
    max-width: 20%; 
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

.login::before {
    background-image: url('../../assets/comic_bg.jpg');
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.2;
    z-index: -1;
}

.login-button {
    margin-right: 65px;
}

