/* src/components/Header/Header.css */
@font-face {
    font-family: 'ComicFont';
    src: url('../../assets/comic_font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.app-header {
    font-family: 'ComicFont', sans-serif;
    letter-spacing: 2px;
    position: relative;
    background-color: black; 
    padding: 20px;
}

.app-header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../../assets/comic_bg.jpg");
    opacity: 0.2;
    z-index: 0;
}

.app-header h1 {
    position: relative;
    margin: 0;
    font-size: 2em;
    color: #fff;
    text-align: center;
}

.app-header h1:hover {
    text-decoration: underline;
}

